@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --radius: 0.5rem;
        --background: hsl(0 0% 100%);
        --background-transparent: hsl(0, 0%, 100%, 0.2);
        --background-3: hsl(200 48% 15%);
        --background-4: hsl(202 50% 18%);
        --background-5: hsl(202 50% 20%);
        --foreground: hsl(0 0% 17%);
        --card: hsl(0 0% 100%);
        --card-foreground: hsl(0 0% 17%);
        --popover: hsl(0 0% 100%);
        --popover-foreground: hsl(0 0% 17%);
        --primary: hsl(40 78% 58%);
        --primary-foreground: hsl(201 42% 9%);
        --secondary: hsl(0 0% 96%);
        --secondary-foreground: hsl(0 0% 17%);
        --muted: hsl(0 0% 96%);
        --muted-foreground: hsl(0 0% 45%);
        --accent: hsl(40 78% 58%);
        --accent-foreground: hsl(201 42% 9%);
        --destructive: hsl(0 100% 67%);
        --destructive-foreground: hsl(0 0% 98%);
        --warning: hsl(38 92% 50%);
        --green: hsl(80, 100%, 42%);
        --red: hsl(0, 100%, 67%);
        --link: hsl(203, 100%, 48%);
        --border: hsl(0 0% 82%);
        --input: hsl(0 0% 82%);
        --ring: hsl(40 78% 58%);
        --chart-1: hsl(204 98% 48%);
        --chart-2: hsl(73 84% 58%);
        --chart-3: hsl(48 89% 51%);
        --chart-4: hsl(40 78% 58%);
        --chart-5: hsl(0 100% 67%);
        --sidebar-background: 0 0% 98%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }

    .dark {
        --background: hsl(160, 10%, 9%);
        --background-transparent: hsl(100, 10%, 6%, 0.5);
        --background-3: hsl(160, 10%, 15%);
        --background-4: hsl(160, 10%, 20%);
        --background-5: hsl(160, 10%, 25%);
        --foreground: hsl(53, 75%, 95%);
        --loading: hsl(60, 5%, 34%);
        --card: hsl(160, 10%, 12%);
        --card-foreground: hsl(53, 75%, 95%);
        --popover: hsl(160, 8%, 19%);
        --popover-foreground: hsl(0 0% 100%);
        --primary: hsl(53, 75%, 95%);
        --primary-foreground: hsl(84, 8%, 12%);
        --secondary: hsl(160 48% 13%);
        --secondary-foreground: hsl(53, 75%, 95%);
        --muted: hsl(160, 6%, 14%);
        --muted-foreground: hsl(0 0% 65%);
        --accent: hsl(160, 6%, 14%);
        --accent-foreground: hsl(53, 75%, 95%);
        --destructive: hsl(0 100% 67%);
        --destructive-foreground: hsl(0 0% 17%);
        --warning: hsl(38 92% 50%);
        --green: hsl(80, 100%, 42%);
        --red: hsl(0, 100%, 67%);
        --link: hsl(203, 100%, 48%);
        --border: hsl(160, 3%, 18%);
        --input: hsl(160, 3%, 18%);
        --ring: hsl(40 78% 58%);
        --chart-1: hsl(204 98% 48%);
        --chart-2: hsl(73 84% 58%);
        --chart-3: hsl(48 89% 51%);
        --chart-4: hsl(40 78% 58%);
        --chart-5: hsl(0 100% 67%);
        --sidebar-background: 240 5.9% 10%;
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: 224.3 76.3% 48%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 240 3.7% 15.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
}

@layer base {
    body {
        @apply bg-background text-foreground;
    }
}

@layer base {
  * {
    @apply border-border;
    }
  body {
    @apply bg-background text-foreground;
    }
}
